<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <%-include ('partials/head')%>

</head>

<body>

    <%- include ('partials/navigation')%>

        <!-- MAIN CONTENT -->

      
        <div class="vh-100 d-flex justify-content-center align-items-center">
                <!-- ======= Contact Section ======= -->
                <section id="contact" class="contact ">
                    <div id="letter-reserv" class="container">

                       
                        <div class="col-lg-12 col-md-12">
                            <div class="info-box  mb-1">

                               
                                <h2 class="lowercase">Lo sentimos tenemos problemas para tu generar tu invitacion</h2>
                             
                                <span><a></a></span>
                            </div>
                        </div>



                    </div>

            </div>
            </section><!-- End Contact Section -->

        </div><!-- End #main -->

           
            

        <%- include ('partials/footer')%>
</body>

</html>